.bikers-zone-start {
  background-color: rgba(255, 0, 0, 0.264);
}

.footer-bg-color {
  background-color: #010313;
}
.store-image{
  width: 100px;
  border: 1px solid white;
  
}
.mark-star{
  width: 20px;
}